
.para1{
    background-color: rgb(121, 121, 237);
}

.head{
    text-align: center;
}
.para{
    line-height: 1.5;
}
.footer{
    text-align: center;
}
.head2{
    text-align: center;
    
}
.main-img img{
   margin-left: 298px;
   margin-top: 100px;
}
.color{
    background-color: rgb(122, 221, 221);
}
.underline{
    text-decoration: underline;
    margin-left: 50px;
    border: 4px solid black;
    background-color: rgb(142, 127, 255);

}
.content{
    line-height: 1.5;
}
.heading{
    height: 30px;
    width: 782px;
    margin-bottom: 12px;
   margin-left: 133px;

}

nav {
  position: fixed;       /* Fixes it to the screen */
  top: 0;                /* Stick to top */
  left: 0;               /* Start from left */
  width: 100%;           /* Full width */
  background-color: rgb(45, 133, 228); /* Your background */
  display: flex;         /* Flexbox for alignment */
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Optional shadow */
  z-index: 1000;         /* Keep it above other content */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 30px;
}

body {
  margin: 0;
  padding-top: 80px; /* Push content below fixed nav */
}
