h1{
    text-decoration:underline ;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(185, 247, 152);
}
p{
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1.5;
    background-color: cadetblue;
}
.para {
    background-color: rgb(136, 151, 202);
    text-transform: lowercase;
}
.para1{
    font-family: 'Courier New', Courier, monospace;
}
.para2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.para3{
    font-family:cursive;
}
.para4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.para5{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.head2{
    background-color: rgb(0,0 ,255,0.5);
}

/* margin:  0px 0px 0px 0px --> top,right,bottom,left */