.container{
    border: 3px solid black;
    height: 111px;
    width: 100%;
    display: flex;
}
.box{
    
    background-color: indianred;
    margin: 20px;
    height: 70px;
    width: 80px;
    /* display: flex; */
}
