
body{
    align-items: center;
    justify-content: center;
    display:flex;
    height: 100vh;
}
.box{
    height: 500px;
    width: 700px;
    border: 2px solid black;
}
.form{
    height: 500px;
    width: 700px;
    margin-top: 20px;
    margin-left: 20px;
}

