/* Custom Styles */

body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('https://images.unsplash.com/photo-1543353071-087092ec3939?crop=entropy&cs=tinysrgb&fit=crop&h=600&w=1200&q=80') no-repeat center center;
    background-size: cover;
    height: 60vh;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(219, 218, 218, 0.7);
}

.hero p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 5px rgba(244, 237, 237, 0.7);
}

.card img {
    object-fit: cover;
    height: 200px;
}

/* Custom Button Colors */
.btn-orange {
    background-color: #08f453;
    color: white;
    border: none;
}

.btn-orange:hover {
    background-color: #08f453;
    color: white;
}

.btn-outline-orange {
    border-color: #08f453;
    color: #08f453;
}

.btn-outline-orange:hover {
    background-color: #08f453;
    color: white;
}

